body {
  font-family: "Montserrat", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    
}

.main > div {
    margin: 3px;
    border-bottom:1px solid rgb(219,219,219,1);;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px 0px 4px;
    height: 50px;
}

.insta{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 500;
    font-size: 1.5rem;
}

.top .badge {
    display: flex;
}

.top .btn{
font-size: 12px;
width: 71px;
height: 32px;
background-color: rgb(125, 170, 224);
color: white;
border-radius: 1rem;
text-align: center;
line-height: 32px;
text-decoration: none;
margin: 5px;
}

.top .btn:hover{
    background-color: #4A5FD9;
}

.profile{
    height: 200px;
    display: flex;
    float: row;
    justify-content: center;
    align-items: center;
}

.profile .photo img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    align-content: center;
    margin: 0px 30px 0px 0px;
}

.profile .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 30px;
}

.profile .info > div{
    margin: 4px;
}

.username{
    font-size: 20px;
    font-weight: 700;
}

.name{
    font-size: 14px;
    font-weight: 500;
}

.num{
    font-size: 16px;
}

.des{
    font-size: 14px;
}


.page{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 230px;
    font-size: 14px;
}

.content p{
    text-align: center;
}

.content a{
    text-decoration: none;
}

.footer{
    margin:50px;
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 16px;
}

.footer a{
    text-decoration: none;
    margin: 4px;
}

.footer a:hover{
    text-decoration: underline;
}

.foot{
    margin: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer i{
    opacity:0.7;
}

.footer p{
    opacity: 0.7;
}

.footer p:hover{
    opacity: 1;
}

@media(max-width:400px){
    .footer{
        font-size: 8px;
    }
}


